/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fonts
 *= require header
 *= require hero
 *= require footer
 *= require fontello
 *= require about
 *= require_self
 */

@import 'materialize/components/color';
@import 'globals';
@import 'materialize';
@import 'qualities';

body {
  font-family: 'Catamaran', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  #map{
    width:100%;
    height:400px;
  }
}

#contact {
  margin: 85px 0;
  li {
    display: inline
  }
}

@media #{$small-and-down} {
  #work{
    .row{
      .project{
        border-bottom: 1px solid $primary-color;
        &::last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  #work{
    .row{
      height:8vh;
      .project{
        border-right: 1px solid $primary-color;
        margin-bottom:10px;
        &:nth-child(2n) {
          border-right: none;
        }

      }
    }
  }
}

@media #{$large-and-up} {
  #work{
    .row{
      .project{
        border-right: 1px solid $primary-color !important;
        &:nth-child(3n) {
          border-right: none !important;
        }
      }
    }
  }
}
