@font-face {
    font-family: 'Lane Upper';
    src:asset-url('LaneUpper-webfont');
    src:asset-url('LaneUpper-webfont.eot?#iefix') format('embedded-opentype'),
        asset-url('LaneUpper-webfont.ttf') format('truetype'),
        asset-url('LaneUpper-webfont.woff') format('woff'),
        asset-url('LaneUpper-webfont.svg#icofonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src:asset-url('CaviarDreams-webfont');
    src:asset-url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
        asset-url('CaviarDreams-webfont.ttf') format('truetype'),
        asset-url('CaviarDreams-webfont.woff') format('woff'),
        asset-url('CaviarDreams-webfont.svg#icofonts') format('svg');
    font-weight: normal;
    font-style: normal;
}