@font-face {
    font-family: 'Lane Upper';
    src:font_path('LaneUpper-webfont');
    src:font_path('LaneUpper-webfont.eot?#iefix') format('embedded-opentype'),
        font_path('LaneUpper-webfont.ttf') format('truetype'),
        font_path('LaneUpper-webfont.woff') format('woff'),
        font_path('LaneUpper-webfont.svg#icofonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src:font_path('CaviarDreams-webfont');
    src:font_path('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
        font_path('CaviarDreams-webfont.ttf') format('truetype'),
        font_path('CaviarDreams-webfont.woff') format('woff'),
        font_path('CaviarDreams-webfont.svg#icofonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Fontello';
  src: font_path('fontello/fonts/fontello.eot');
  src: font_path('fontello/fonts/fontello.eot#iefix') format('embedded-opentype'),
       font_path('fontello/fonts/fontello.woff') format('woff'),
       font_path('fontello/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
