$black: #000;
$yellow: #F8D134;
$blue: #1c71f6;
$grey: #58595B;
$light-grey: #a6a8ab;
$whitish: #f7f7f7;

@mixin caviar {
  font-family: 'Caviar Dreams';
}

@mixin small_text {
  font-size: 1.2em;
}

@mixin medium_text {
  font-size: 1.4em;
}

@mixin large_text {
  font-size: 2.4em;
}

@mixin xlarge_text {
 font-size: 3.4em;
}

.yellow-background {
  background-color: $yellow;
}

.yellow-text {
  color: $yellow;
}

.blue-background {
  background-color: $blue;
}

.blue-text {
  color: $blue;
}

.grey-background {
  background-color: $grey;
}

.grey-text {
  color: $grey;
}

.light-grey-background {
  background-color: $light-grey;
}

.light-grey-text {
  color: $light-grey;
}

.whitish-text{
  color: $whitish;
}

.whitish-background{
  background-color: $whitish;
}

.uppercase {
  text-transform: uppercase;
}