@import 'globals';

header{
  .navbar-fixed{
    height:80px;
    nav{
      height:80px;
      line-height:80px;
      .brand-logo{
        @include lane;
        @include xlarge_text;
        i{
          line-height: 4rem;
          margin-top: 8px;
          margin-bottom: 8px;
          height: 64px;
          width:64px;
        }
      }
    }
  }
  .progress{
    margin-bottom:0;
  }
}
