.hero-container{
  min-height:40vh;
  position:relative;
  h2{
    width:100%;
    z-index:2;
  }
}
#quality{
  .container{
    padding-top: 3em;
    padding-bottom: 3em;
    h5{
      text-transform: uppercase;
    }
  }
}
