@import 'globals';

.menu {
  @include medium_text;
  li {
    @include caviar;
    font-size: 1.4rem;
    display: inline;
    a {
      color: $black;
      &.selected {
        color: $yellow;
      }
    }
  }
}
