@import 'globals';

.menu {
  margin-top:30px;
  li {
    @include medium_text;
    @include caviar;
    font-size: 1.4rem;
    display: inline;
    a {
      color: $black;
      padding-right:60px;
      &.selected {
        color: $yellow;
      }
    }
  }
}
