@import "globals";

.project {
  a {
    color: $black;
    @include caviar;
    .color{
      width: 100px;
      height: 100px;
    }
    .title{
      @include large_text;
    }
    .subtitle{
      @include medium_text;
    }
  }
}
