@import "globals";

// Index
.project {
  a {
    color: $black;
    @include caviar;
    .color{
      width: 100%;
      height: 200px;
    }
    .title{
      @include large_text;
    }
    .subtitle{
      @include medium_text;
    }
  }
}

// Show
.header{
  @include caviar;
  color: $yellow;
}
